body{
    height: 100%;
    width: 100%;
    background-color: rgb(37, 118, 56);
}
p{
    color: rgb(15, 15, 21);
    font-size: 20px;
}
.uppercase{
    text-transform: uppercase;
}
.cursive{
    font-family: cursive;
}
#blog-title:hover{
    color: orange;
    font-family:fantasy;
}
#blog-head:hover{
    color: greenyellow
}
body{
    margin-left: 60px;
    margin-right: 20px;
}
#main-header{
    margin-top: 60px;
}
#site-title a{
    margin-bottom: 0px;
}
#main-header{
    margin-top: 50px;
}
img{
    border-radius: 15px;
}
h4{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: normal;
    text-decoration: uppercase;
}